/* CDN */

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

/*General*/

body{
    display: flex;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

ul{
    margin-left: 0;
    padding-right: 15px;
}

li{
    list-style: none;
    font-size: 1.1rem;
}

p{
    font-size: 1.1rem;
}

img{
    border-radius : 50%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.container{
    display: flex;
}

/*aside*/

aside{
    background-color: #558B2F;
    width: 33.5%;
    margin-right: 3%;
    margin-left: 1px;
    border-radius: 5px;
}

h4{
    text-align: center;
    font-size: 1.9rem;
    background-color: black;
    color: white;
}

.contact{
    padding-right: 10%;
    padding-left: 10%;
}

#icone-aside{
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}

#loisir{
    margin-top: 9rem;
    margin-bottom: 1rem;
}

/* main */

h3{
    color: #558B2F;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;
}

#color-title{
    color: #558B2F;
}

main{
    width: 66.5%;
    height: auto;
}

main li{
    text-align: left;
}

.title{
    display: flex;
    align-items: baseline;
    margin-bottom: 0px;
}

.icone-title{
    font-size: 2rem;
    margin-right: 2rem;
    color: #558B2F;
    margin-bottom: 0px;
}

.icone-main{
    font-size: 0.7rem;
    margin-right: 10px;
}

/* header */

h1{
    text-align: left;
}

h2{
    text-align: left;
    margin-bottom: 5rem;
}
.souli{
    text-decoration: underline;
    text-decoration-color: #558B2F;
    text-decoration-thickness: 60px;
}

.souli2{
    width: 95%;
	height:2px;
    background-color:#558B2F;
    margin-right: 5%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

/*formations*/

.align-formation{
    margin-left: 1rem;
    margin-right: 1rem;
}

.align-formation-2{
    margin-left: 1rem;
    margin-right: 3.5rem;
}

.titre-forma{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.8rem;
}

/*experiences*/

.align-exp{
    margin-left: 1rem;
}

/*recommandations*/

.container-bas{
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.container-bas ul{
    padding-left: 0;
    padding-right: 25px;
}

/* Media querry  */

@media screen and (max-width: 768px){
    /* general */

    body{
        display: flex;
        flex-direction: column;
    }

    /* ASIDE */

    body aside{
        margin: 0;
        }

    aside{
        width: 100%;
        height: auto;
    }

    img{
        margin-top: 0px;
        padding-top: 5px;
    }
    
    #loisir{
        
        margin-top: 0;
    }
    #icone-aside{
        font-size: 25px;
        padding-bottom: 2rem;
    }

    /* MAIN */

    main{
        width: 100%;
        height: auto;
    }

    .icone-title{
        font-size: 1.5rem;
        margin-right: 0;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .icone-main{
        font-size: 14px;
        margin-right: 2px;
    }

    /* header */

    h1{
        text-align: center;
    }
    
    h2{
        text-align: center;
        margin-bottom: 1rem;
    }

    h3{
        font-size: 2rem;
        text-align: center;
    }

    /*formations*/

    .align-formation{
        margin-left: 0;
        margin-right: 0rem;
    }
    
    .align-formation-2{
        margin-left: 0;
        margin-right: 1.5rem;
    }

    .souli2{
        width: 100%;
        margin-right: 0;
    }

    .align-exp{
        margin-left: 0rem;
        margin-right: 0;
    }
    .container-bas{
        justify-content: space-around;
    }
}

@media screen and (max-width: 425px)
{
    .container-bas{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    ul{
        padding-right: 2px;
    }

    li{
        font-size: 16px;
    }
    p{
        font-size: 16px;
    }

    .align-formation-2{
        margin-right: 1rem;
    }
    h3{
        font-size: 1.3rem;
        text-align: center;
    }
    .icone-main{
        display: none;
    }
}

@media screen and (min-width: 1350px){
    #loisir{
        margin-top: 13rem;
    }
}