/* CDN */

/* montaga-regular - latin */
@font-face {
    font-family: 'Montaga';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montaga-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montaga'), local('Montaga-Regular'),
         url('fonts/montaga-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/montaga-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/montaga-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/montaga-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/montaga-v8-latin-regular.svg#Montaga') format('svg'); /* Legacy iOS */
  }

/*General*/

body{
    display: flex;
}

*{
    font-family: 'Montaga', Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
    text-align: center;
}

#photo{
    border-radius : 50%;
}

h3{
    color: #558B2F;
    font-size: 2rem;
    text-align: left;
}

h4{
    text-align: center;
    font-size: 1.5rem;
    background-color: black;
    color: #777777;
}

.container{
    display: flex;
    justify-content: space-between;
}

/*aside*/

aside{
    background-color: #76FF03;
    width: 20%;
    margin-right: 3%;
    border-radius: 5px;
}

/* main */

main{
    width: 100%;
    height: auto;
}



/* header */

h1{
    text-align: left;
}

h2{
    text-align: left;
    margin-bottom: 5rem;
}

/*formations*/


/*experiences*/


/*recommandations*/

