/* CDN */

/* montaga-regular - latin */
@font-face {
    font-family: 'Montaga';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montaga-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montaga'), local('Montaga-Regular'),
         url('fonts/montaga-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/montaga-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/montaga-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/montaga-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/montaga-v8-latin-regular.svg#Montaga') format('svg'); /* Legacy iOS */
  }

/*General*/

body{
    display: flex;
    width: auto;
    height: auto;
}

*{
    font-family: 'Montaga', Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

#photo{
    border-radius : 50%;
}

h3{
    color: #558B2F;
    font-size: 2rem;
    text-align: left;
}

h4{
    font-size: 1.5rem;
    background-color: black;
    color: #777777;
}

/*aside*/

aside{
    background-color: #76FF03;
    width: 25%;
    margin-right: 3%;
    border-radius: 5px;
}

#aside-bar{
    flex-direction: column;
}

/* main */

main{
    width: auto;
    height: auto;
    text-align: center;
}


/* header */

h1, h2{
    text-align: left;
}
h1{
    padding-bottom: 0,1rem;
}

h2{
    margin-bottom: 5rem;
}
/*formations*/

/*experiences*/

/*recommandations*/